body {
    font-family: Arial, sans-serif;
    margin: 2em;
}
.section {
    margin-bottom: 2em;
}
.error {
    color: red;
    margin-top: 0.5em;
}
button {
    margin-top: 0.5em;
    margin-right: 0.5em;
}
